<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        .error{
            color: red;
        }
    </style>
</head>
<body>
    <h1>Student Form</h1>
    <form action="#" th:action="@{/processForm}" method="post" th:object="${student}">
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="firstName" th:field="*{firstName}">
        <br>
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastName" th:field="*{lastName}">
        <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="error" th:errors="*{lastName}"></p>
        <br>
        <label for="country">Country:</label>
        <input type="text" name="country" id="country" th:field="*{country}" th:error>
        <br>
        <label for="age">Age:</label>
        <input type="number" name="age" id="age" th:field="*{age}" th:error>
        <p th:if="${#fields.hasErrors('age')}" th:errorclass="error" th:errors="*{age}"></p>
        <br>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" th:field="*{email}" th:error>
        <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></p>
        <br>
        <label for="courseCode">Course:</label>
        <input type="text" name="courseCode" id="courseCode" th:field="*{courseCode}" th:error>
        <p th:if="${#fields.hasErrors('courseCode')}" th:errorclass="error" th:errors="*{courseCode}"></p>
        <!-- <select th:field="*{country}">
            <option th:each="option : ${options}" th:value="${option.value}" th:text="${option.value}"></option>
        </select> -->
        <input type="submit" value="Submit">
    </form>
</body>
</html>