<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Student Confirmation</h1>
    <p th:text="'First Name: ' + ${student.firstName}"></p>
    <p th:text="'Last Name: ' + ${student.lastName}"></p>
    <!-- <p th:text="'Country: ' + ${student.country}"></p>
    <p th:text="'Age: ' + ${student.age}"></p> -->
    <p th:text="'Email: ' + ${student.email} "></p>
    <!-- <p th:text="'Course: ' + ${student.courseCode}"></p> -->
    <!-- <p th:text="'Country: '+ ${student.country}"></p> -->
</html>